<div class="inner_page innerpage">
    <div class="bg_parallax" id="inb">
        <!--navigation swipe-->
        <div class="menu-btn">&#9776;</div>
        <nav class="pushy pushy-left">
            <div class="profile">
                <div class="avatar"><img src="http://www.exberliner.com/downloads/12946/download/bitblt-120x120-fde16d613687819a4139493d2caf51b91d7a5c6c/panke_logo_p_web-sw.png?cb=ab322fc525a476a871796f602ec68571" alt="#"></div>
                <h3><a href="#signup">PIQUP</a></h3>
                <a href="#" class="log_btn">Log in</a>
            </div>
            <ul class="side_menu">
                <li><a href="#"><i class="fa fa-bookmark-o"></i>Home</a></li>
                <li><a href="#signup" class="animsition-link"><i class="fa fa-map-marker"></i>Map</a></li>
                <li><a href="#games"><i class="fa fa-list"></i>Games list</a></li>
                <li><a href="#dashboard"><i class="fa fa-user"></i>User profile</a></li>
            </ul>
        </nav>
        <!--add-->
        <div class="add_place none" id="pl">
            <div class="place_form">
                <i class="fa fa-times close_window" id="close"></i>
                <h3>Add new place<span></span></h3>
                <form>
                    <label>Place name:
                        <input type="text">
                    </label>
                    <label>latitude:
                        <input type="text">
                    </label>
                    <label>longitude:
                        <input type="text">
                    </label>
                    <label>Categori:
                        <select>
                            <option value="Soccer">Field</option>
                        </select>
                    </label>
                    <a href="#" class="green_btn_header" id="add">Add</a>
                </form>
            </div>
        </div>
        <!--autorization-->
        <div class="add_place none" id="autorized">
            <div class="place_form login_form">
                <i class="fa fa-times close_window" id="closeau"></i>
                <h3>Autorization<span></span></h3>
                <form>
                    <label>Login:
                        <input type="text">
                    </label>
                    <label>Password:
                        <input type="text">
                    </label>
                    <a href="#" class="btn btn-success">Log in</a>
                    <a href="#" class="btn btn-primary"><i class="icon-facebook"></i>Log in with Facebook</a>
                </form>
            </div>
        </div>
        <div class="site-overlay"></div>
        <div id="container">
            <!--header-->
            <div class="container-fluid header inner_head">
                <div class="fixed_w">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="index.html" class="logo"><img src="" alt="" /></a>
                            <input type="text" class="search" placeholder="search"><a href="#" class="green_btn_header" id="ad">Add place</a></div>
                    </div>
                </div>
            </div>
            <div class="container page_info">
                <div class="col_md_12">
                    <img src="img/avatar/ava_4.jpg" alt="">
                    <h1>Dorshinho de los Santos</h1>
                    <span class="status">STRIKER</span>
                </div>
            </div>
            <div class="container contant">
                <div class="row cont">
                    <!-- Left column-->
                    <div class="col-md-3 mobile_none sidebar">
                        <!--avatar-->
                        <div class="user_vis">
                            <span><i class="fa fa-map-marker"></i>Played 30 games</span>
                            <div></div>
                        </div>
                        <!--Friends-->
                        <div class="user_friends">
                            <h4>Friends:</h4>
                            <div class="users_group">
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_11.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_17.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_9.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_8.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_7.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="http://38.media.tumblr.com/avatar_21ab233f3a73_128.png    " alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_5.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="http://becauseiplayedsports.com/wp-content/uploads/2010/01/vonn.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_3.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_2.jpg" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="https://38.media.tumblr.com/avatar_6e126ef3241c_128.png" alt=""></a>
                                <a href="#" class="user_avatars">
                                    <div class="user_go">
                                        <i class="fa fa-link"></i>
                                    </div>
                                    <img src="img/avatar/ava_6.jpg" alt=""></a>
                            </div>
                        </div>
                        <!--user btns-->
                        <div class="user_btn">
                            <a href="#" class="btn btn-success">Add friend</a>
                            <a href="#" class="btn btn-info">Send message</a>
                        </div>
                    </div>
                    <!--content-->
                    <div class="col-md-9 basic vp">
                        <!--visited places-->
                        <div id="map" class="map_user_visits"></div>
                        <!--User info for mobile visible-->
                        <div class="profile_mobile_vis">
                            <!--Friends-->
                            <div class="user_friends">
                                <h4>Friends:</h4>
                                <div class="users_group">
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_11.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_17.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_9.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_8.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_7.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="http://38.media.tumblr.com/avatar_21ab233f3a73_128.png    " alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_5.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="http://becauseiplayedsports.com/wp-content/uploads/2010/01/vonn.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_3.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_2.jpg" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="https://38.media.tumblr.com/avatar_6e126ef3241c_128.png" alt=""></a>
                                    <a href="02.html" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--reviews-->
                        <div class="reviews">
                            <h4>45 Reviews:</h4>
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_11.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="#">Ricardito del Sur</a> <span>03.20.2015</span></div>
                                    <div class="text_rev">Game today was insane bruv! I know you liked my step-overs too haha... Can't wait for next weeks game, you coming?</div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_3.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="#">Ezzy Camarena</a> <span>03.16.2015</span></div>
                                    <div class="text_rev">You gave a history lesson in how it's done dito! Hopefully that same team shows up next week so we can whoop them again haha. Anyway, great game see you next week. </div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_17.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="#">Rez</a> <span>03.11.2015</span></div>
                                    <div class="text_rev">I think the most improtant take away from today's game was that we have to put our chances away!! I can't believe you missed that penalty man, c'mon. All good though, we still won so im cool, next time bruv! </div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_5.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="#">Pana</a> <span>03.09.2015</span></div>
                                    <div class="text_rev">Love your style on the ball Dorshinho, you should come play indoor with my squad over in Katy sometime, lets link!</div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_6.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="02.html">JJ</a> <span>02.28.2015</span></div>
                                    <div class="text_rev">Uno-dos all day baby! </div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_9.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="02.html">Pedrinho Mendes</a> <span>02.19.2015</span></div>
                                    <div class="text_rev">You've been playing like a true Brasilero lately Dorshinho! Don't worry I won;t tell anyone out here that you're Jamaican when you come to Rio haha. </div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_8.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="02.html">Chapa</a> <span>02.03.2015</span></div>
                                    <div class="text_rev">Nice assist today bro, good lookin out! </div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="img/avatar/ava_7.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="02.html">Scottie</a> <span>1.09.2015</span></div>
                                    <div class="text_rev">Great free kick today, hope I don't have to hear you talking about it for the rest of the month though haha...</div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="http://becauseiplayedsports.com/wp-content/uploads/2010/01/vonn.jpg" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="02.html">Paulina Rubio</a> <span>1.17.2015</span></div>
                                    <div class="text_rev">See you next week, great game! </div>
                                </div>
                            </div>
                            <!--review end-->
                            <!--review-->
                            <div class="rev">
                                <div class="user">
                                    <a href="#" class="user_avatars">
                                        <div class="user_go">
                                            <i class="fa fa-link"></i>
                                        </div>
                                        <img src="https://38.media.tumblr.com/avatar_6e126ef3241c_128.png" alt=""></a>
                                </div>
                                <div class="texts">
                                    <div class="head_rev"><a href="02.html">Liz Kalhoun</a> <span>12.29.2014</span></div>
                                    <div class="text_rev">Great playing with you again today, we've still got it! I tell my friends all the time about the game we have going at Eagle Creek, hopefully they make it out soon, take care.</div>
                                </div>
                            </div>
                            <!--review end-->
                        </div>
                        <!--morebtn-->
                        <a href="#" class="more_btn">Load more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

