<header>

    <div class="button">
        <a class="btn green" href="#signup">Sign Up </a>
</div>

    <div class="button">
        <a class="btn green" href="#dashboard">Find a game</a>
    </div>
<div class="input-group-btn btn_cat">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span><i class="fa fa-exchange"></i>Sport<span class="caret"></span></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right place_dd" role="menu">
                <li><a href="" class="sport"><i class="fa fa-futbol-o"></i>Soccer</a></li>
              </ul>
            </div>
</header>

 <div style="height:10px"></div>

<div class="grid grid-pad" id="features">

</div>