<header>

    <div class="button">
        <a class="btn green" href="#signup">Sign Up </a>
</div>

    <div class="button">
        <a class="btn green" href="#dashboard">Find a game</a>
    </div>


    <div class="menu">
        <span class="logo"></span>
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link">HOME</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#features" class="pure-menu-link">FEATURES</a>
                </li>
                <li class="pure-menu-item"><a href="#about" class="pure-menu-link">ABOUT</a>
                </li>
                <li class="pure-menu-item"><a href="#faq" class="pure-menu-link">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</header>

 <div style="height:10px"></div>

<div class="grid grid-pad" id="features">

</div>